{% extends "index.html" %}
{% block useful %}
<style>

    .mobile-view-navbar {
	
    }
</style>
{% endblock %}
{% block content %}
    <header class="bread_crumb">
        <div class="pag_titl_sec">
            <h1 class="pag_titl"> Bizim haqqımızda </h1>
            <h4 class="sub_titl"> </h4>
        </div>
        <div class="pg_links">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="lnk_pag"><a href="/"> Ana səhifə </a> </p>
                        <p class="lnk_pag"> / </p>
                        <p class="lnk_pag"> Əlaqə </p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p class="lnk_pag"><a href="/"> Ana səhifəyə qayıt </a> </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="spacer-60"></div>
    <div class="container">
        <div class="row">
            <!-- Contact Section -->
            <section id="contact_sec" class="col-md-8">
                <!-- Contact form -->
                <div class="row">
                    <div class="titl_sec">
                        <div class="col-lg-12">

                            <h3 class="main_titl text-left">
                    Bizim haqqımızda
                </h3>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="skill_sec" style="margin-left: 15px;margin-right: 15px;">

                            <div class="col-md-12 skill_ara">
                                <div class="col-sm-12 p0">
                                    
                                    <p class="m0">1) Azərbaycanda ən etibarlı daşınmaz əmlak saytı.Bakıda və Abşeron da istədiyiniz mənzili həm kirayə həmdə satışda olan tapa bilərsiniz.</p>
                                    <div class="spacer-30"></div>
                                    <p class="m0">2) Saytda yerləşdirilən elanlara görə saytın admini öhdəlik daşıyır. Elna yerləşdirmək üçün xaiş olunur bu nömrə və ya email vasitəsilə bizimilə əlaqə saxlayın
                                        <b><a href="tel:0774644610">077 464 46 10</a></b>
                                        <b><a href="mailto:info@bakuemlak.com">info@bakuemlak.com</a></b>
                                    </p>
                                    <div class="spacer-30"></div>
                                    <p class="m0">3) Bizim istəyimiz müştərilərə düzgün informasiyanın çatdırılmasıdır.</p>
                                    <div class="spacer-30"></div>
                                    <p class="m0">4) Saytda yerləşdirilən məlumatların düzgünlüyünə görə şəxsən sayt rəhbərliyi məsuliyyət daşıyır.</p>
                                    <div class="spacer-30"></div>
                                    <p class="m0">5) Əlavə məlumat əldə etmək üçün əlaqə bölməsi ilə bizimlə əlaqə saxlaya bilərsiniz.</p>
                                    <div class="spacer-30"></div>
                                </div>
                            </div>

                    </div>
                </div>
                <!-- /.row -->

                <div class="spacer-30"></div>
                <!-- Location Map -->
                <div class="row">
                    <div class="titl_sec">
                        <div class="col-lg-12">

                            <h3 class="main_titl text-left">
                    Bizim Ərazi
                </h3>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-12">
                        <div class="map_ara">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3023.0855969237605!2d-73.99038!3d40.738141999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a238556ce7%3A0x3445b7afb4f445e3!2sTaz+Studios!5e0!3m2!1sen!2sin!4v1432831471606" width="600" height="350"></iframe>
                        </div>

                    </div>
                </div>
                <!-- /.row -->

            </section>

            <!-- Sidebar Section -->
            <section id="sidebar" class="col-md-4 mobile-view-navbar">
                <!-- Contact Information -->
                <div class="row">
                    <div class="titl_sec">
                        <div class="col-lg-12">

                            <h3 class="main_titl text-left">
                    Bakuemlak.com Haqqında
                </h3>

                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="cont_info">
                        <div class="info_sec first">
                            <div class="icon_box">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <p class="infos">Bakı şəhəri, ADNSU </p>
                        </div>

                        <div class="info_sec">
                            <div class="icon_box">
                                <i class="fa fa-envelope-o"></i>
                            </div>
                            <p class="infos"><a href="mailto:weedor@realestate.com?Subject=template%20enquiry"> info@elan.az </a>
                            </p>
                        </div>

                        <div class="info_sec">
                            <div class="icon_box">
                                <i class="fa fa-phone"></i>
                            </div>
                            <p class="infos"> <a href="tel:+112-510-360-7617"> Telefon: (012) 407-546-2034 </a> </p>
                        </div>

                        <div class="info_sec">
                            <div class="icon_box">
                                <i class="fa fa-facebook"></i>
                            </div>
                            <p class="infos">facebook.com/elan.az</p>
                        </div>

                    </div>
                </div>
                <!-- /.row -->
            </section>

            <div class="spacer-60"></div>

        </div>
    </div>
{% endblock %}
