{% extends "index.html" %}

{% block content %}
    <header class="bread_crumb">
        <div class="pag_titl_sec">
            <h1 class="pag_titl"> Munis Isazadə </h1>
            <h4 class="sub_titl"> Freelancer Web developer </h4>
        </div>
        <div class="pg_links">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="lnk_pag"><a href="/"> Ana səhifə </a> </p>
                        <p class="lnk_pag"> / </p>
                        <p class="lnk_pag"> Əlaqə </p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p class="lnk_pag"><a href="/"> Ana səhifəyə qayıt </a> </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="spacer-60"></div>

    <div class="container">
        <div class="row">
        	<!-- Agent Section -->
            <section id="agent_sec" class="col-md-8">
                <!-- Agent Info -->
                <div class="agen_info2">
                    <div class="col-md-5">
                        <img class="img-responsive img-hover" src="/static/images/munis.jpg" alt="">

                    </div>
                    <div class="col-md-7">
                        <div class="panel panel-default">

                            <div class="panel-body">
                                <div class="row agen_desc">
                                    <div class="col-md-7">
                                        <h3 class="sec_titl">Munis Isazadə</h3>
                                        <p class="sec_desc">
                                            Saytın qurucusu haqqında
                                        </p>

                                    </div>
                                    <div class="col-md-5 p0">
                                        <div class="soc_icon">
                                            <a href="https://www.facebook.com/munis.isazade"> <i class="fa fa-twitter"></i> </a>
                                            <a href="https://www.facebook.com/munis.isazade"> <i class="fa fa-facebook"></i> </a>
                                            <a href="https://www.facebook.com/munis.isazade"> <i class="fa fa-linkedin"></i> </a>
                                        </div>

                                    </div>
                                </div>
                                <p class="sec_desc">
                                Karyerasına ilkin olaraq 2013 ci il Yay ayindan başlayıb. Birinci kursa girməmişdən əvvəl komputerə həvəsi olan Munis Html\Css i yaxşı öyrənmiş. Həmin ilin yay ayında Azercell Şirkətinin nəznində Barama innovasiya mərkəzində işləmişdir və Hal-hazırdada orada çalışır. Bildiyi programlaşdırma dilləri və kitabxanaları Javascript, Jquery,Backbone.js,Ajax,Json,HandleBars.js, Python, Django, Rest Framework, C++, Pascal. Database dizayni Mysql,PosgreSql ,Sql, Sql(Lite).
                                    </p>
                                <div class="panel_bottom">
                                    <div class="agen_feat">
                                        <p class="area">
                                            <a href="tel:910-213-7890"> <i class="fa fa-phone"></i>077 464 46 10</a>
                                        </p>
                                        <p class="bedrom">
                                            <a href="mailto:munisisazade@gmail.com?Subject=salam"> <i class="fa fa-envelope"></i> munisisazade@gmail.com</a>
                                        </p>

                                    </div>



                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="spacer-30"></div>
			</section>

        </div>

            <section id="pricg_sec">
                    <div class="titl_sec">
                        <div class="col-lg-12">

                            <h3 class="main_titl text-left">
                                Qiymət cədvəli
                            </h3>

                        </div>
                        <div class="clearfix"></div>
                    </div>

            <div class="row">
                <!-- Pricing Table 1 -->
                <div class="col-xs-3">
                    <div class="pric_tab text-center">
                        <h2 class="tab_titl">
                    Standart
                </h2>
                        <div class="pric_ara">
                            <h3 class="pric">800 AZN<i> yuxari</i></h3>
                        </div>
                        <ul class="pric_feat">
                            <li> Backendin yığılması </li>
                            <li> Frontendin yığılması </li>
                            <li> Texniki dəstək pullu </li>
                            <li> Yalniz sadə saytlar </li>
                            <li> 1 ay ərzində </li>
                        </ul>
                        <a href="#" class="pric_btn"> Planı seç </a>
                    </div>
                </div>
                <!-- Pricing Table 2 -->
                <div class="col-xs-3">
                    <div class="pric_tab oran_tab text-center">
                        <h2 class="tab_titl">
                proffesional
            </h2>
                        <div class="pric_ara">
                            <h3 class="pric"> 900 AZN<i> yuxarı </i></h3>
                        </div>
                        <ul class="pric_feat">
                            <li> Backendin yığılması </li>
                            <li> Frontendin yığılması </li>
                            <li> Texniki dəstək pulsuz </li>
                            <li> Orta saytlar </li>
                            <li> 3 həftə ərzində </li>
                        </ul>
                        <a href="#" class="pric_btn"> Planı seç </a>
                    </div>
                </div>
                <!-- Pricing Table 3 -->
                <div class="col-xs-3">
                    <div class="pric_tab text-center">
                        <h2 class="tab_titl">
                power user
            </h2>
                        <div class="pric_ara">
                            <h3 class="pric"> 1000 AZN<i> yuxari </i></h3>
                        </div>
                        <ul class="pric_feat">
                            <li> Backendin yığılması </li>
                            <li> Frontendin yığılması </li>
                            <li> Şirkət saytları </li>
                            <li> Çətin saytlar </li>
                            <li> 3 həftə ərzində </li>
                        </ul>
                        <a href="#" class="pric_btn"> Planı seç </a>
                    </div>
                </div>
                <!-- Pricing Table 4 -->
                <div class="col-xs-3">
                    <div class="pric_tab text-center">
                        <h2 class="tab_titl">
                    premium
                </h2>
                        <div class="pric_ara">
                            <h3 class="pric"> 1500 AZN<i> yuxarı </i></h3>
                        </div>
                        <ul class="pric_feat">
                            <li> Backendin yığılması </li>
                            <li> Frontendin yığılması </li>
                            <li> Şirkət saytları </li>
                            <li> Çətin saytlar </li>
                            <li> 1 ay ərzində </li>
                        </ul>
                        <a href="#" class="pric_btn"> Planı seç </a>
                    </div>
                </div>

            </div>
            <!-- /.row -->
        </section>


                <div class="spacer-30"></div>


    </div>

    <div class="spacer-30"></div>

    <!-- Callout Section -->

{% endblock %}
