{% extends "index.html" %}
{% block content %}

<header class="bread_crumb">
        <div class="pag_titl_sec">
            <h1 class="pag_titl"> Bloglar </h1>
            <h4 class="sub_titl">  </h4>
        </div>
        <div class="pg_links">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="lnk_pag"><a href="/"> Ana səhifə </a> </p>
                        <p class="lnk_pag"> / </p>
                        <p class="lnk_pag"> Blogs </p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p class="lnk_pag"><a href="/"> Ana səhifəyə qayıt </a> </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="spacer-60"></div>
    <section id="feat_propty">
        <div class="container">
            <div class="row">
                <!-- Property 1 -->
                {% for article in all_blog %}
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-image">
                            <a href="/blog/{{ article.id }}"><img class="img-responsive img-hover" src="../images/{{ article.image }}" alt=""></a>

                        </div>

                        <div class="panel-body">
                            <div class="news_dtd">
                                <p> {{ article.datatime }} by <a href="#"> {{ article.author.first_name }} </a> </p>
                            </div>
                            <h3 class="sec_titl">{{ article.header }}</h3>

                            <p class="sec_desc">
                                {{ article.content|safe|slice:":30" }}...
                            </p>
                            <p class="readmore text-left"> <a href="/blog/{{ article.id }}"> Daha çox </a> </p>

                        </div>
                    </div>
                </div>

                {% endfor %}
                <div class="spacer-60"></div>
            </div>
        </div>
    </section>




{% endblock %}
