{% extends "index.html" %}
{% block content %}

	<header class="bread_crumb">
        <div class="pag_titl_sec">
            <h1 class="pag_titl"> {{ single_blog.header }} </h1>
            <h4 class="sub_titl">  </h4>
        </div>
        <div class="pg_links">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="lnk_pag"><a href="/"> Ana səhifə </a> </p>
                        <p class="lnk_pag"> / </p>
                        <p class="lnk_pag"> Bütün elanlar </p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p class="lnk_pag"><a href="/"> Ana səhifəyə qayıt </a> </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="spacer-60"></div>
    <div class="container">
        <div class="row">
        	<!-- Blog Section -->
            <section id="blog_sec" class="col-md-8">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-image">
                            <img class="img-responsive img-hover" src="/images/{{ single_blog.image }}" alt="">
                        </div>

                        <div class="panel-body">
                            <div class="blog_feat">
                                <p class="area"><i class="fa fa-home"></i> By {{ single_blog.author.first_name }} <span> :: </span>
                                </p>
                                <p class="bedrom"><i class="fa fa-comment"></i> Fb-comments (3) <span> :: </span>
                                </p>
                                <p class="bedrom"><i class="fa fa-folder-open"></i> Kateqoriyasi <span> :: </span> </p>
                                <p class="bedrom"><i class="fa fa-clock-o"></i> {{ single_blog.datatime|slice:":5"}} </p>
                            </div>
                            <h3 class="sec_titl">{{ single_blog.header }}</h3>

                            <p class="sec_desc">{{ single_blog.content|safe }}</p>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="spacer-30"></div>
                <!-- Comment Section -->
                <div class="row commen_sec">
                    <div class="titl_sec">
                        <div class="col-lg-12">

                            <h3 class="main_titl text-left">Fb-comments (0)</h3>

                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
                <!-- /.row -->

                <div class="spacer-30"></div>

            </section>
            <!-- Sidebar Section -->
            <section id="sidebar" class="col-md-4">
                <!-- Search Form -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="srch_frm">
                            <h3>Axtarış sistemi</h3>
                        <form name="sentMessage"action="{% url 'search' %}" method="GET">
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Başlıq </label>
                                    <input type="text" class="form-control" id="keyword" name="basliq" placeholder="axtar..">
                                    <p class="help-block"></p>
                                </div>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Ərazi </label>
                                    <select class="form-control" name="erazi">
                                        <option value="1" selected="selected">Ərazi daxil edin</option>
                                        <option value="1">Bakı</option>
                                        <option value="2">Abşeron</option>

                                    </select>
                                </div>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls col-md-6 first">
                                    <label>Elanın növü </label>
                                    <select class="form-control" name="mirta">
                                        <option value="1" selected="selected">Ev alqı satqısı</option>
                                        <option value="2">Ev</option>
                                        <option value="3">Mənzil</option>
                                    </select>
                                </div>
                                <div class="controls col-md-6">
                                    <label>Elanın tipi </label>
                                    <select class="form-control" name="tipi">
                                        <option value="1" selected="selected">Satış</option>
                                        <option value="2">İcarəyə</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="control-group form-group">
                                <div class="controls col-md-6 first">
                                    <label>Minimum qiyməti </label>
                                    <input type="text" name="min_prize" class="form-control" placeholder="min qiymət">
                                </div>
                                <div class="controls col-md-6">
                                    <label>Maxsimum qiyməti </label>
                                    <input type="text" name="max_prize" class="form-control" placeholder="max qiymət">
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div id="success"></div>
                            <!-- For success/fail messages -->
                            <button type="submit" name="search" class="btn btn-primary">Axtar</button>
                        </form>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="spacer-30"></div>
                <!-- Categories -->
                <div class="row">
                    <div class="titl_sec">
                        <div class="col-lg-12">

                            <h3 class="main_titl text-left">
                    Categories
                </h3>

                        </div>
                        <div class="clearfix"></div>
                    </div>

										<div class="categ_info">

                        <div class="info_sec first">
                            <div class="col-md-6">
                                <a href="{% url 'butun' %}">
                                    <i class="fa fa-long-arrow-right"></i>
                                    <p class="infos">Butun elanlar ({% if all_num %}{{ all_num }}{% else %}0{% endif %}) </p>
                                </a>
                            </div>
                            <div class="col-md-6 text-right">
                                <a href="{% url 'vip_elan' %}">
                                    <i class="fa fa-long-arrow-right"></i>
                                    <p class="infos">Vip elanlar ({% if vip_num %}{{ vip_num }}{% else %}0{% endif %}) </p>
                                </a>
                            </div>
                        </div>

                        <div class="info_sec">
                            <div class="col-md-6">
                                <a href="{% url 'blogs' %}">
                                    <i class="fa fa-long-arrow-right"></i>
                                    <p class="infos">Bloglar ({% if blog_num %}{{ blog_num }}{% else %}0{% endif %}) </p>
                                </a>
                            </div>

                        </div>




                    </div>
                </div>
                <!-- /.row -->


                <div class="spacer-30"></div>
                <!-- Featured Properties -->
                <div class="row">
                    <div class="titl_sec">
                        <div class="col-lg-12">

                            <h3 class="main_titl text-left">
                                Featured Properties
                            </h3>

                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="side_feat">
                        <div class="panel panel-default">
                            <div class="panel-image col-md-3">
                                <a href="property_details.html"> <img class="img-responsive img-hover" src="/static/images/property/feat_prop_1.jpg" alt=""> </a>
                            </div>

                            <div class="panel-body col-md-9">
                                <h3 class="sec_titl">
                                    <a href="property_details.html"> Nulla sed dolor vestibu porttitor erat ultricies </a>
                                </h3>

                                <div class="prop_feat">
                                    <p class="area"><i class="fa fa-home"></i> 3000 Sq Ft</p>
                                    <p class="bedrom"><i class="fa fa-car"></i> 1 Garage</p>
                                </div>

                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-image col-md-3">
                                <a href="property_details.html"> <img class="img-responsive img-hover" src="/static/images/property/feat_prop_2.jpg" alt=""> </a>

                            </div>

                            <div class="panel-body col-md-9">
                                <h3 class="sec_titl">
                                    <a href="property_details.html">Nulla sed dolor vestibu porttitor erat ultricies </a>
                                </h3>

                                <div class="prop_feat">
                                    <p class="area"><i class="fa fa-home"></i> 3000 Sq Ft</p>
                                    <p class="bedrom"><i class="fa fa-car"></i> 1 Garage</p>
                                </div>

                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-image col-md-3">
                                <a href="property_details.html"> <img class="img-responsive img-hover" src="/static/images/property/feat_prop_3.jpg" alt=""> </a>

                            </div>

                            <div class="panel-body col-md-9">
                                <h3 class="sec_titl">
                                    <a href="property_details.html"> Nulla sed dolor vestibu porttitor erat ultricies  </a>
                                </h3>

                                <div class="prop_feat">
                                    <p class="area"><i class="fa fa-home"></i> 3000 Sq Ft</p>
                                    <p class="bedrom"><i class="fa fa-car"></i> 1 Garage</p>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.row -->

                <div class="spacer-30"></div>
                <!-- Tags -->
                <div class="row">
                    <div class="titl_sec">
                        <div class="col-lg-12">

                            <h3 class="main_titl text-left">
                    Tags
                </h3>

                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="tags_sec">

                        <div class="tags_box first">
                            <a href="#"> Modern </a>
                        </div>

                        <div class="tags_box">
                            <a href="#"> Amazing</a>
                        </div>

                        <div class="tags_box">
                            <a href="#"> Responsive</a>
                        </div>

                        <div class="tags_box first">
                            <a href="#"> Development</a>
                        </div>

                        <div class="tags_box">
                            <a href="#"> Rent</a>
                        </div>

                        <div class="tags_box">
                            <a href="#"> Properties</a>
                        </div>

                        <div class="tags_box first">
                            <a href="#"> Themeforest</a>
                        </div>

                        <div class="tags_box">
                            <a href="#"> Development</a>
                        </div>

                        <div class="tags_box">
                            <a href="#"> HTML  </a>
                        </div>


                    </div>


                </div>
                <!-- /.row -->

                <div class="spacer-30"></div>

            </section>

            <div class="spacer-60"></div>
        </div>
    </div>


{% endblock %}
