{% extends "index.html" %}

{% block content %}
    <header class="bread_crumb">
        <div class="pag_titl_sec">
            <h1 class="pag_titl"> Bizimlə əlaqə </h1>
            <h4 class="sub_titl"> Bunun üçün aşağıdakı formu doldur </h4>
        </div>
        <div class="pg_links">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="lnk_pag"><a href="/"> Ana səhifə </a> </p>
                        <p class="lnk_pag"> / </p>
                        <p class="lnk_pag"> Əlaqə </p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p class="lnk_pag"><a href="/"> Ana səhifəyə qayıt </a> </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="spacer-60"></div>
    <div class="container">
        <div class="row">
            <!-- Contact Section -->
            <section id="contact_sec" class="col-md-8">
                <!-- Contact form -->
                <div class="row">
                    <div class="titl_sec">
                        <div class="col-lg-12">

                            <h3 class="main_titl text-left">
                    Bizimlə Əlaqə
                </h3>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-12">
                        <div class="cont_frm">
                            <form action="{% url 'contact' %}" method="POST">
                            {% csrf_token %}
                                <div class="control-group form-group col-md-6 first">
                                        <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name." name="full_name" placeholder="adınız və soyadınız">
                                    <div class="controls">
                                        <div class="in_ico">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <p class="help-block"></p>
                                    </div>

                                    <div class="controls">
                                        <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter an email address." name="email" placeholder="Email adressi">
                                        <div class="in_ico">
                                            <i class="fa fa-envelope-o"></i>
                                        </div>
                                        <p class="help-block"></p>
                                    </div>

                                    <div class="controls">
                                        <input type="number" class="form-control" id="phone" required data-validation-required-message="Zəhmət olmasa nömrənizi daxil edin" name="phone" placeholder="Zəhmət olmasa nömrənizi daxil edin">
                                        <div class="in_ico">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <p class="help-block"></p>
                                    </div>

                                    <div class="controls last">
                                        <input type="text" class="form-control" id="web" name="website" placeholder="Website əgər varsa">
                                        <div class="in_ico">
                                            <i class="fa fa-pencil"></i>
                                        </div>
                                        <p class="help-block"></p>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>

                                <div class="control-group form-group col-md-6">
                                    <div class="controls">
                                        <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none" name="content" placeholder="Mesajınız"></textarea>
                                        <div class="in_ico">
                                            <i class="fa fa-paper-plane-o"></i>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Mesaj göndər</button>
                                </div>
                                <div class="clearfix"></div>
                                <div id="success"></div>
                                <!-- For success/fail messages -->
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="spacer-30"></div>
                <!-- Location Map -->
                <div class="row">
                    <div class="titl_sec">
                        <div class="col-lg-12">

                            <h3 class="main_titl text-left">
                    Bizim Ərazi
                </h3>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-12">
                        <div class="map_ara">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7279.839714288931!2d49.84515113881417!3d40.36776719515345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307db2542c86a9%3A0x7d5af0beaefa6909!2sBaku+Business+Centre!5e0!3m2!1saz!2s!4v1463577449965" width="600" height="350"></iframe>
                        </div>

                    </div>
                </div>
                <!-- /.row -->

            </section>

            <!-- Sidebar Section -->
            <section id="sidebar" class="col-md-4">
                <!-- Contact Information -->
                <div class="row">
                    <div class="titl_sec">
                        <div class="col-lg-12">

                            <h3 class="main_titl text-left">
                    Elan.az Haqqında
                </h3>

                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="cont_info">
                        <div class="info_sec first">
                            <div class="icon_box">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <p class="infos">Bakı şəhəri, ADNSU </p>
                        </div>

                        <div class="info_sec">
                            <div class="icon_box">
                                <i class="fa fa-envelope-o"></i>
                            </div>
                            <p class="infos"><a href="mailto:weedor@realestate.com?Subject=template%20enquiry"> info@elan.az </a>
                            </p>
                        </div>

                        <div class="info_sec">
                            <div class="icon_box">
                                <i class="fa fa-phone"></i>
                            </div>
                            <p class="infos"> <a href="tel:+112-510-360-7617"> Telefon: (012) 407-546-2034 </a> </p>
                        </div>

                        <div class="info_sec">
                            <div class="icon_box">
                                <i class="fa fa-facebook"></i>
                            </div>
                            <p class="infos">facebook.com/elan.az</p>
                        </div>

                    </div>
                </div>
                <!-- /.row -->
            </section>

            <div class="spacer-60"></div>

        </div>
    </div>
{% endblock %}
