{% extends "index.html" %}
{% block css %}
    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Jquery bxslider css -->
    <link href="/static/css/jquery.bxslider.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="/static/css/main_style.css" rel="stylesheet">

    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <style>
        header.bread_crumb {
            background: url('/static/images/breadcrumb_bg.jpg') no-repeat left top;
            background-size: 100% 100%;
        }
        @media (min-width: 768px) {
            .mobile_title {
                font-size: 12px;
            }
            .sec_desc p {
                font-size: 7px;
            }

        }
        @media (min-width: 1000px) {
            .mobile_title {
                font-size: 36px;
            }
            .sec_desc p {
                font-size: 14px;
            }
        }

    </style>

{% endblock %}

{% block content %}
{% load embed_video_tags %}
    <!-- Header bradcrumb -->
    <header class="bread_crumb">
        <div class="pag_titl_sec">
            <h1 class="pag_titl mobile_title"> {{ article_index.header }} </h1>
            <h4 class="sub_titl">  </h4>
        </div>
        <div class="pg_links">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="lnk_pag"><a href="/"> Ana səhifə </a> </p>
                        <p class="lnk_pag"> / </p>
                        <p class="lnk_pag"> Əmlak haqqında </p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p class="lnk_pag"><a href="/"> Ana səhifəyə qayıt </a> </p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="spacer-60"></div>
    <div class="container">
        <div class="row">
            <!-- Proerty Details Section -->
            <section id="prop_detal" class="col-md-8">
                <div class="row">
                    <div class="panel panel-default">
                        <!-- Proerty Slider Images -->
                        <div class="panel-image">
                            <ul id="prop_slid">
                                <li>
                                    <img class="img-responsive" src="/images/{{ article_index.article_images.images }}" alt="Property Slide Image">
                                </li>

                                <li>
                                    <img class="img-responsive" src="/images/{{ article_index.article_images.detail_1 }}" alt="Property Slide Image">
                                </li>
                                <li>
                                    <img class="img-responsive" src="/images/{{ article_index.article_images.detail_2 }}" alt="Property Slide Image">
                                </li>
                                <li>
                                    <img class="img-responsive" src="/images/{{ article_index.article_images.detail_3 }}" alt="Property Slide Image">
                                </li>
                                <li>
                                    <img class="img-responsive" src="/images/{{ article_index.article_images.detail_4 }}" alt="Property Slide Image">
                                </li>

                            </ul>
                            <!-- Proerty Slider Thumbnails -->
                            <div class="col-md-12 rel_img">
                                <ul id="slid_nav">
                                    <li>
                                    <a data-slide-index="0" href="#"><img class="img-responsive" src="/images/{{ article_index.article_images.images }}" alt="Property Slide Image"></a>
                                </li>

                                <li>
                                    <a data-slide-index="0" href="#"><img class="img-responsive" src="/images/{{ article_index.article_images.detail_1 }}" alt="Property Slide Image"></a>
                                </li>
                                <li>
                                    <a data-slide-index="0" href="#"><img class="img-responsive" src="/images/{{ article_index.article_images.detail_2 }}" alt="Property Slide Image"></a>
                                </li>

                                <li>
                                    <a data-slide-index="0" href="#"><img class="img-responsive" src="/images/{{ article_index.article_images.detail_3 }}" alt="Property Slide Image"></a>
                                </li>
                                <li>
                                    <a data-slide-index="0" href="#"><img class="img-responsive" src="/images/{{ article_index.article_images.detail_4 }}" alt="Property Slide Image"></a>
                                </li>




                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="panel-body">
                            <div class="prop_feat">
                                <p class="area"><i class="fa fa-home"></i>{% if article_index.area == 1 %} Bakı şəhəri {% else %} Abşeron rayonu {% endif %}</p>
                                <p class="bedrom"><i class="fa fa-bed">{{ article_index.rooms }} otaqlı</i></p>
                                <p class="bedrom"><i class="fa fa-car"></i> {{ article_index.garage }} qaraj</p>
                                <p class="bedrom"><i class="fa fa-star-o"></i> Təmirli </p>
                                <p class="bedrom"><i class="fa fa-print"></i> Çap et </p>

                                <div class="share_btn">
                                    <a href="#"> <i class="fa fa-share-alt"></i>
                                    </a>
                                    <div class="soc_btn">
                                        <ul>
                                            <li>
                                                <a href="#"> <i class="fa fa-facebook"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#"> <i class="fa fa-twitter"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#"> <i class="fa fa-google-plus"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                            </li>

                                        </ul>
                                    </div>

                                </div>
                            </div>

                            <h3 class="sec_titl">
                         {{ article_index.header }}                </h3>

                            <div class="col_labls larg_labl">

                                <p class="or_labl">{% if article_index.area == 1 %} Satılır {% else %} İcarəyə verilir {% endif %}</p>
                                <p class="blu_labl"> {{ article_index.prize }} AZN</p>

                            </div>

                            <p class="sec_desc">
                                {{ article_index.about|safe }}
                            </p>
                            {% if article_index.video %}
                            {% video article_index.video %}
                            {% else %}
                            {% endif %}

                            <!-- Proerty Additional Info -->
                            <div class="prop_addinfo">
                                <h2 class="add_titl">
                                Əlavə məlumatlar
                            </h2>

                                <div class="info_sec first">
                                    <div class="col-md-5">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-long-arrow-right"></i>
                                                    <p class="infos"> Qiyməti: <span> {{ article_index.prize }} AZN </span> </p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-long-arrow-right"></i>
                                                    <p class="infos"> Mənzil: <span> {% if article_index.area == 1 %} Satılır {% else %} İcarəyə verilir {% endif %} </span> </p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-long-arrow-right"></i>
                                                    <p class="infos"> Ərazi: <span> {% if article_index.area == 1 %} Bakı şəhəri {% else %} Abşeron rayonu {% endif %} </span> </p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-long-arrow-right"></i>
                                                    <p class="infos"> Kvadrat metrəsi: <span> 322kv </span> </p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-long-arrow-right"></i>
                                                    <p class="infos"> Qaraj: <span> {{ article_index.garage }} </span> </p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-long-arrow-right"></i>
                                                    <p class="infos">Otaq sayı: <span> {{ article_index.rooms }} </span> </p>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="spacer-30"></div>

                <!-- Agent Info -->
                <div class="row">
                    <div class="agen_info">

                        <div class="col-md-4">
                            <a href="agents_single.html"><img class="img-responsive img-hover" src="/static/images/default_user.png" alt="">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="panel panel-default">

                                <div class="panel-body">
                                    <div class="row agen_desc">
                                        <div class="col-sm-8">
                                            <h3 class="sec_titl">
                            <a href="agents_single.html"> {{ article_index.author.first_name }} {{ article_index.author.last_name }} </a>                                   </h3>
                                            <p class="sec_desc">
                                                Əlaqədar şəxs haqqında
                                            </p>

                                        </div>
                                        <div class="col-sm-4">
                                            <div class="soc_icon">
                                                <a href="#"> <i class="fa fa-twitter"></i> </a>
                                                <a href="#"> <i class="fa fa-facebook"></i> </a>
                                                <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                            </div>

                                        </div>
                                    </div>
                                    <p class="sec_desc">
                                        
                                    </p>
                                    <div class="panel_bottom">
                                        <div class="agen_feat">
                                            <p class="area">
                                                <a href="tel:910-213-7890"> <i class="fa fa-phone"></i> {{ article_index.author.userprofile.phone }} </a>
                                            </p>
                                            <p class="bedrom">
                                                <a href="mailto:scott@berends.com?Subject=Agent%20enquiry"> <i class="fa fa-envelope"></i> {{ article_index.author.username }} </a>
                                            </p>

                                        </div>



                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="spacer-30"></div>

                <!-- Proerty Map -->

                <div class="row">
                    <div class="titl_sec">
                        <div class="col-lg-12">

                            <h3 class="main_titl text-left">
                    Property Map
                </h3>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-12">
                        <div class="prop_map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7279.839714288931!2d49.84515113881417!3d40.36776719515345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307db2542c86a9%3A0x7d5af0beaefa6909!2sBaku+Business+Centre!5e0!3m2!1saz!2s!4v1463577449965" width="600" height="350"></iframe>
                        </div>

                    </div>
                </div>
                <!-- /.row -->


            </section>

            <!-- Sidebar Section -->
            <section id="sidebar" class="col-md-4">
                <!-- Search Form -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="srch_frm">
                            <h3>Axtarış sistemi</h3>
                        <form name="sentMessage"action="{% url 'search' %}" method="GET">
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Başlıq </label>
                                    <input type="text" class="form-control" id="keyword" name="basliq" placeholder="axtar..">
                                    <p class="help-block"></p>
                                </div>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Ərazi </label>
                                    <select class="form-control" name="erazi">
                                        <option value="1" selected="selected">Ərazi daxil edin</option>
                                        <option value="1">Bakı</option>
                                        <option value="2">Abşeron</option>

                                    </select>
                                </div>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls col-md-6 first">
                                    <label>Elanın növü </label>
                                    <select class="form-control" name="mirta">
                                        <option value="1" selected="selected">Ev alqı satqısı</option>
                                        <option value="2">Ev</option>
                                        <option value="3">Mənzil</option>
                                    </select>
                                </div>
                                <div class="controls col-md-6">
                                    <label>Elanın tipi </label>
                                    <select class="form-control" name="tipi">
                                        <option value="1" selected="selected">Satış</option>
                                        <option value="2">İcarəyə</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="control-group form-group">
                                <div class="controls col-md-6 first">
                                    <label>Minimum qiyməti </label>
                                    <input type="text" name="min_prize" class="form-control" placeholder="min qiymət">
                                </div>
                                <div class="controls col-md-6">
                                    <label>Maxsimum qiyməti </label>
                                    <input type="text" name="max_prize" class="form-control" placeholder="max qiymət">
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div id="success"></div>
                            <!-- For success/fail messages -->
                            <button type="submit" name="search" class="btn btn-primary">Axtar</button>
                        </form>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="spacer-30"></div>
                <!-- Categories -->
                <div class="row">
                    <div class="titl_sec">
                        <div class="col-lg-12">

                            <h3 class="main_titl text-left">
                    Kateqoriyalar
                </h3>

                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="categ_info">

                        <div class="info_sec first">
                            <div class="col-md-6">
                                <a href="{% url 'butun' %}">
                                    <i class="fa fa-long-arrow-right"></i>
                                    <p class="infos">Butun elanlar ({% if all_num %}{{ all_num }}{% else %}0{% endif %}) </p>
                                </a>
                            </div>
                            <div class="col-md-6 text-right">
                                <a href="{% url 'vip_elan' %}">
                                    <i class="fa fa-long-arrow-right"></i>
                                    <p class="infos">Vip elanlar ({% if vip_num %}{{ vip_num }}{% else %}0{% endif %}) </p>
                                </a>
                            </div>
                        </div>

                        <div class="info_sec">
                            <div class="col-md-6">
                                <a href="{% url 'blogs' %}">
                                    <i class="fa fa-long-arrow-right"></i>
                                    <p class="infos">Bloglar ({% if blog_num %}{{ blog_num }}{% else %}0{% endif %}) </p>
                                </a>
                            </div>

                        </div>




                    </div>
                </div>
                <!-- /.row -->


                <div class="spacer-30"></div>
                <!-- Featured Properties -->
                <div class="row">
                    <div class="titl_sec">
                        <div class="col-lg-12">

                            <h3 class="main_titl text-left">
                                Featured Properties
                            </h3>

                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="side_feat">
                        <div class="panel panel-default">
                            <div class="panel-image col-md-3">
                                <a href="property_details.html"> <img class="img-responsive img-hover" src="/static/images/property/feat_prop_1.jpg" alt=""> </a>
                            </div>

                            <div class="panel-body col-md-9">
                                <h3 class="sec_titl">
                                    <a href="property_details.html"> Nulla sed dolor vestibu porttitor erat ultricies </a>
                                </h3>

                                <div class="prop_feat">
                                    <p class="area"><i class="fa fa-home"></i> 3000 Sq Ft</p>
                                    <p class="bedrom"><i class="fa fa-car"></i> 1 Garage</p>
                                </div>

                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-image col-md-3">
                                <a href="property_details.html"> <img class="img-responsive img-hover" src="/static/images/property/feat_prop_2.jpg" alt=""> </a>

                            </div>

                            <div class="panel-body col-md-9">
                                <h3 class="sec_titl">
                                    <a href="property_details.html">Nulla sed dolor vestibu porttitor erat ultricies </a>
                                </h3>

                                <div class="prop_feat">
                                    <p class="area"><i class="fa fa-home"></i> 3000 Sq Ft</p>
                                    <p class="bedrom"><i class="fa fa-car"></i> 1 Garage</p>
                                </div>

                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-image col-md-3">
                                <a href="property_details.html"> <img class="img-responsive img-hover" src="/static/images/property/feat_prop_3.jpg" alt=""> </a>

                            </div>

                            <div class="panel-body col-md-9">
                                <h3 class="sec_titl">
                                    <a href="property_details.html"> Nulla sed dolor vestibu porttitor erat ultricies  </a>
                                </h3>

                                <div class="prop_feat">
                                    <p class="area"><i class="fa fa-home"></i> 3000 Sq Ft</p>
                                    <p class="bedrom"><i class="fa fa-car"></i> 1 Garage</p>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.row -->



                <div class="spacer-30"></div>

            </section>

            <div class="spacer-60"></div>

        </div>
    </div>
{% endblock %}

{% block javascript %}
    <!-- Flexslider JavaScript -->
    <script src="/static/js/jquery.js"></script>
    <!-- jQuery -->
    <script src="/static/js/jquery.bxslider.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>


    {% endblock %}
    {% block script %}
        <script>
        /* Product Slider Codes */
        $(document).ready(function () {
            'use strict';

            $('#prop_slid').bxSlider({
                pagerCustom: '#slid_nav'
            });

			$('ul.drop_menu [data-toggle=dropdown]').on('click', function (event) {
                event.preventDefault();
                event.stopPropagation();
                $(this).parent().siblings().removeClass('open');
                $(this).parent().toggleClass('open');
            });
        });
    </script>
    {% endblock %}
