{% extends "index.html" %}

{% block content %}
<style>
    div.upload {
    width: 292px;
    float: left;
    margin: 18px;
    border-radius: 21px;
    height: 60px;
    background: #FF5722;
    overflow: hidden;

    }
    .fa-upload span {
        font-size: 18px;
    }
    .fa-upload {
    font-size: 45px;
    position: absolute;
    left: 7px;
    top: 4px;
    color: #F3F3F3;
    }

    div.upload input {
        display: block !important;
        color: #000;
        cursor: pointer;
        opacity: 0 !important;
        overflow: hidden !important;
    }
</style>
    <header class="bread_crumb">
        <div class="pag_titl_sec">
            <h1 class="pag_titl"> Elan əlavə et </h1>
            <h4 class="sub_titl"> Bunun üçün aşağıdakı formu doldur </h4>
        </div>
        <div class="pg_links">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="lnk_pag"><a href="/"> Ana səhifə </a> </p>
                        <p class="lnk_pag"> / </p>
                        <p class="lnk_pag"> Elan </p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p class="lnk_pag"><a href="/"> Ana səhifəyə qayıt </a> </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="spacer-60"></div>
    <div class="container">
        <div class="row">
            <!-- Contact Section -->
            <section id="contact_sec" class="col-md-8">
                <!-- Contact form -->
                <div class="row">
                    <div class="titl_sec">
                        <div class="col-lg-12">

                            <h3 class="main_titl text-left">
                    Elan yaz
                </h3>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-12">
                        <div class="cont_frm">
                            <form action="{% url 'meqale' %}" id="listform" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                            <div class="control-group form-group">
                                <div class="controls">
                                    <input name="basliq" type="text" class="form-control" id="list_name" required="" data-validation-required-message="Please enter the listing name." placeholder="Basliq daxil edin..">
                                    <p class="help-block"></p>
                                </div>

                                <div class="controls">
                                    <input name="otaq" type="text" class="form-control" id="addr" required="" data-validation-required-message="Please enter your Address." placeholder="Otaq sayi rəqəmlə">

                                    <p class="help-block"></p>
                                </div>
                                <div class="controls upload">
                                    <i class="fa fa-upload">
                                        <span class="filename1"></span>
                                    </i>
                                    <input name="docfile" type="file" class="form-control text1" id="addr" required="" data-validation-required-message="Please enter your Address." placeholder="Otaq sayi rəqəmlə">

                                    <p class="help-block"></p>
                                </div>
                                <div class="controls upload">
                                    <i class="fa fa-upload">
                                        <span class="filename2"></span>
                                    </i>
                                    <input name="shekil_1" type="file" class="form-control text2" id="addr" required="" data-validation-required-message="Please enter your Address." placeholder="Otaq sayi rəqəmlə">
                                    <p class="help-block"></p>
                                </div>
                                    <div class="controls upload">
                                    <i class="fa fa-upload">
                                        <span class="filename3"></span>
                                    </i>
                                    <input name="shekil_2" type="file" class="form-control text3" id="addr" required="" data-validation-required-message="Please enter your Address." placeholder="Otaq sayi rəqəmlə">
                                    <p class="help-block"></p>
                                </div>
                                    <div class="controls upload">
                                    <i class="fa fa-upload">
                                        <span class="filename4"></span>
                                    </i>
                                    <input name="shekil_3" type="file" class="form-control text4" id="addr" required="" data-validation-required-message="Please enter your Address." placeholder="Otaq sayi rəqəmlə">
                                    <p class="help-block"></p>
                                </div>
                                <div class="controls upload">
                                    <i class="fa fa-upload">
                                        <span class="filename5"></span>
                                    </i>
                                    <input name="shekil_4" type="file" class="form-control text5" id="addr" required="" data-validation-required-message="Please enter your Address." placeholder="Otaq sayi rəqəmlə">
                                    <p class="help-block"></p>
                                </div>
                            </div>
                            <div class="control-group form-group">

                                <div class="clearfix"></div>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls col-md-6" style="padding-left: 0px">
                                    <select name="erazi" class="form-control area" required="" data-validation-required-message="Please select a Actions.">
                                        <option value="0" selected="selected">Ərazini seçin</option>
                                        <option value="1">Bakı</option>
                                        <option value="2">Abşeron</option>
                                    </select>
                                </div>
                                 <div class="controls baki col-md-6">

                                    <select class="form-control" name="kend1">
                                        <option value="" selected="selected">Rayonu seçin</option>
                                        <option value="Binəqədi">Binəqədi</option>
                                        <option value="Nizami">Nizami</option>
                                        <option value="Nərimanov">Nərimanov</option>
                                        <option value="Nəsimi">Nəsimi</option>
                                        <option value="Qaradağ">Qaradağ</option>
                                        <option value="Sabunçu">Sabunçu</option>
                                        <option value="Suraxanı">Suraxanı</option>
                                        <option value="Səbail">Səbail</option>
                                        <option value="Xətai">Xətai</option>
                                        <option value="Xəzər">Xəzər</option>
                                        <option value="Yasamal">Yasamal</option>
                                    </select>
                                </div>
                                <div class="controls absheron col-md-6">

                                    <select class="form-control" name="kend2">
                                        <option value="" selected="selected">Məntəqə seçin</option>
                                        <option value="Aşağı Güzdək">Aşağı Güzdək</option>
                                        <option value="Ceyranbatan Qəs.">Ceyranbatan Qəs.</option>
                                        <option value="Fatmayı">Fatmayı</option>
                                        <option value="Görədil">Görədil</option>
                                        <option value="Güzdək">Güzdək</option>
                                        <option value="Hökməli">Hökməli</option>
                                        <option value="Masazır">Masazır</option>
                                        <option value="Mehdiabad">Mehdiabad</option>
                                        <option value="Məhəmmədəli">Məhəmmədəli</option>
                                        <option value="Novxanı">Novxanı</option>
                                        <option value="Qobu">Qobu</option>
                                        <option value="Saray">Saray</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls col-md-6" style="padding-left: 0px">
                                    <input name="qaraj" type="text" class="form-control" id="rate" required="" data-validation-required-message="Please enter your Rate." placeholder="Qaraj sayı">
                                </div>
                                <div class="controls col-md-6">
                                    <input name="kvadrat" type="number" class="form-control" id="rate" required="" data-validation-required-message="Please enter your Rate." placeholder="Kvadrat metrəsi">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls col-md-6 first">
                                    <input name="mertebe" type="text" class="form-control" id="agt_name" required="" data-validation-required-message="Please enter the Agent name." placeholder="Mərtəbə">
                                </div>
                                <div class="controls col-md-6">
                                    <input name="qiymet" type="text" class="form-control" id="agt_number" required="" data-validation-required-message="Please enter the Agent Contact Number." placeholder="Qiymet daxil edin">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls">
                                    <textarea name="content" rows="10" cols="60" class="form-control" id="message" required="" data-validation-required-message="Please enter your Property description" maxlength="999" style="resize:none" placeholder="Mənzil haqqında ətraflı yazın"></textarea>
                                </div>
                            <button type="submit" name="login_button" class="btn btn-primary">Təstiq et</button>
                            <div id="success4"></div>
                            <!-- For success/fail messages -->

                            </div>
                        </form>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="spacer-30"></div>
                <!-- Location Map -->
                <div class="row">
                    <div class="titl_sec">
                        <div class="col-lg-12">

                            <h3 class="main_titl text-left">
                    Ərazimiz
                </h3>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-12">
                        <div class="map_ara">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7279.839714288931!2d49.84515113881417!3d40.36776719515345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307db2542c86a9%3A0x7d5af0beaefa6909!2sBaku+Business+Centre!5e0!3m2!1saz!2s!4v1463577449965" width="600" height="350"></iframe>
                        </div>

                    </div>
                </div>
                <!-- /.row -->

            </section>

            <!-- Sidebar Section -->
            <section id="sidebar" class="col-md-4">
                <!-- Contact Information -->
                <div class="row">
                    <div class="titl_sec">
                        <div class="col-lg-12">

                            <h3 class="main_titl text-left">
                    Bizimlə əlaqə üçün
                </h3>

                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="cont_info">
                        <div class="info_sec first">
                            <div class="icon_box">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <p class="infos">Bakı şəhəri. Yasamal Rayonu</p>
                        </div>

                        <div class="info_sec">
                            <div class="icon_box">
                                <i class="fa fa-envelope-o"></i>
                            </div>
                            <p class="infos"><a href="mailto:info@emlak.az?Subject=template%20enquiry"> info@emlak.az </a>
                            </p>
                        </div>

                        <div class="info_sec">
                            <div class="icon_box">
                                <i class="fa fa-phone"></i>
                            </div>
                            <p class="infos"> <a href="tel:+112-510-360-7617"> +994 (077) 464 4610 </a> </p>
                        </div>

                        <div class="info_sec">
                            <div class="icon_box">
                                <i class="fa fa-facebook"></i>
                            </div>
                            <p class="infos">facebook.com/emlak.az</p>
                        </div>

                    </div>
                </div>
                <!-- /.row -->
            </section>

            <div class="spacer-60"></div>

        </div>
    </div>
{% endblock %}
{% block js_ayrica %}
<script type="text/javascript">

 $("input.text1:file").change(function (){
       var fileName = $(this).val();
       $(".filename1").html(fileName.slice(12,fileName.length));
        console.log(fileName);
     });
 $("input.text2:file").change(function (){
       var fileName = $(this).val();
       $(".filename2").html(fileName.slice(12,fileName.length));
        console.log(fileName);
     });
 $("input.text3:file").change(function (){
       var fileName = $(this).val();
       $(".filename3").html(fileName.slice(12,fileName.length));
        console.log(fileName);
     });
 $("input.text4:file").change(function (){
       var fileName = $(this).val();
       $(".filename4").html(fileName.slice(12,fileName.length));
        console.log(fileName);
     });
 $("input.text5:file").change(function (){
       var fileName = $(this).val();
       $(".filename5").html(fileName.slice(12,fileName.length));
        console.log(fileName);
     });

</script>

{% endblock %}
