{% extends "index.html" %}
{% block content %}
    <header class="bread_crumb">
        <div class="pag_titl_sec">
            <h1 class="pag_titl"> Qeydiyyat formunda Parolun testiqi yanlışdır </h1>
            <h4 class="sub_titl"> </h4>
        </div>
        <div class="pg_links">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="lnk_pag"><a href="/"> Ana səhifə </a> </p>
                        <p class="lnk_pag"> / </p>
                        <p class="lnk_pag"> Error user page </p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p class="lnk_pag"><a href="/"> Ana səhifəyə qayıt </a> </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="spacer-60"></div>
    <div class="container">
    <section id="wrng_pg">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2 class="lrg_titl"> 404 </h2>
                    <h3 class="sub_titl"> Xahiş edirik formu düzgün doldurasınız  </h3>
                    <p class="desc"> Qeydiyyat formunda Parolun testiqi və ya Email yanlışdır  </p>
                    <div class="btns">
                        <a href="/" class="orn_btn"> Ana səhifəyə qayıt </a>
                    </div>
                </div>

            </div>
            <!-- /.row -->
        </section>
    </div>
    <div class="spacer-60"></div>
{% endblock %}
