{% extends "index.html" %}
{% block content %}

    <header class="bread_crumb">
        <div class="pag_titl_sec">
            <h1 class="pag_titl"> Axtarış bölməsi </h1>
            <h4 class="sub_titl"> </h4>
        </div>
        <div class="pg_links">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="lnk_pag"><a href="/"> Ana səhifə </a> </p>
                        <p class="lnk_pag"> / </p>
                        <p class="lnk_pag"> Axtarış səhifəsi </p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p class="lnk_pag"><a href="/"> Ana səhifəyə qayıt </a> </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="spacer-60"></div>
    <div class="container">
        <div class="row">
          <section id="sidebar" class="col-md-12">
                <!-- Search Form -->
                <!-- Search Form -->
                <div class="col-md-12">
                    <div class="srch_frm">
                        <h3>Axtarış sistemi</h3>
                        <form name="sentMessage"action="{% url 'search' %}" method="GET">
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Başlıq </label>
                                    <input type="text" class="form-control" id="keyword" name="basliq" placeholder="axtar..">
                                    <p class="help-block"></p>
                                </div>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Ərazi </label>
                                    <select class="form-control area" name="erazi">
                                        <option value="0" selected="selected">Ərazi daxil edin</option>
                                        <option value="1">Bakı</option>
                                        <option value="2">Abşeron</option>

                                    </select>
                                </div>
                            </div>
                            <div class="control-group form-group baki">
                                <div class="controls">
                                    <label>Rayon </label>
                                    <select class="form-control" name="kend">
                                        <option value="Binəqədi" selected="selected">Binəqədi</option>
                                        <option value="Nizami">Nizami</option>
                                        <option value="Nərimanov">Nərimanov</option>
                                        <option value="Nəsimi">Nəsimi</option>
                                        <option value="Qaradağ">Qaradağ</option>
                                        <option value="Sabunçu">Sabunçu</option>
                                        <option value="Suraxanı">Suraxanı</option>
                                        <option value="Səbail">Səbail</option>
                                        <option value="Xətai">Xətai</option>
                                        <option value="Xəzər">Xəzər</option>
                                        <option value="Yasamal">Yasamal</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group form-group absheron">
                                <div class="controls">
                                    <label>Məntəqə </label>
                                    <select class="form-control" name="kend">
                                        <option value="Aşağı Güzdək" selected="selected">Aşağı Güzdək</option>
                                        <option value="Ceyranbatan Qəs.">Ceyranbatan Qəs.</option>
                                        <option value="Fatmayı">Fatmayı</option>
                                        <option value="Görədil">Görədil</option>
                                        <option value="Güzdək">Güzdək</option>
                                        <option value="Hökməli">Hökməli</option>
                                        <option value="Masazır">Masazır</option>
                                        <option value="Mehdiabad">Mehdiabad</option>
                                        <option value="Məhəmmədəli">Məhəmmədəli</option>
                                        <option value="Novxanı">Novxanı</option>
                                        <option value="Qobu">Qobu</option>
                                        <option value="Saray">Saray</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls col-md-6 first">
                                    <label>Elanın növü </label>
                                    <select class="form-control" name="mirta">
                                        <option value="1" selected="selected">Ev alqı satqısı</option>
                                        <option value="2">Ev</option>
                                        <option value="3">Mənzil</option>
                                    </select>
                                </div>
                                <div class="controls col-md-6">
                                    <label>Elanın tipi </label>
                                    <select class="form-control" name="tipi">
                                        <option value="1" selected="selected">Satış</option>
                                        <option value="2">İcarəyə</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="control-group form-group">
                                <div class="controls col-md-6 first">
                                    <label>Minimum qiyməti </label>
                                    <input type="text" name="min_prize" class="form-control" placeholder="min qiymət">
                                </div>
                                <div class="controls col-md-6">
                                    <label>Maxsimum qiyməti </label>
                                    <input type="text" name="max_prize" class="form-control" placeholder="max qiymət">
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div id="success"></div>
                            <!-- For success/fail messages -->
                            <button type="submit" name="search" class="btn btn-primary">Axtar</button>
                        </form>
                    </div>
                </div>
                <!-- /.row -->

                <div class="spacer-30"></div>



              </section>
            </div>
          </div>
            <div class="spacer-60"></div>
            <section id="feat_propty">
        <div class="container">
            <div class="row">
                <!-- Property 1 -->
                {% for article_vip in seen|slice:":3" %}
                <div class="col-md-4" style="margin-bottom: 30px;">
                    <div class="panel panel-default">
                        <div class="panel-image">
                            <img class="img-responsive img-hover" style="width: 370px;height: 240px;" src="../images/{{ article_vip.article_images.images }}" alt="">
                            <div class="img_hov_eff">
                                <a class="btn btn-default btn_trans" href="/detail/{{ article_vip.id }}"> Daha ətraflı </a>
                            </div>

                        </div>
                        <div class="sal_labl">
                            {% if article_vip.types == 1 %}Satılır{% else %}Icarəyə{% endif %}
                        </div>

                        <div class="panel-body">
                            <div class="prop_feat">
                                <p class="area"><i class="fa fa-home"></i>{% if article_vip.area == 1 %}Bakı şəhəri{% else %}Abşeron rayonu{% endif %}</p>
                                <p class="bedrom"><i class="fa fa-bed"></i> {{ article_vip.rooms }} otaqlı </p>
                                <p class="bedrom"><i class="fa fa-car"></i> {{ article_vip.garage }} garajı </p>
                            </div>
                            <h3 class="sec_titl">
                         {{ article_vip.header }}                 </h3>

                            <p class="sec_desc">
                                {{ article_vip.about|safe|slice:":72" }}...
                            </p>
                            <div class="panel_bottom">
                                <div class="col-md-6">
                                    <p class="price text-left"> {{ article_vip.prize }} AZN</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="readmore text-right"> <a href="/detail/{{ article_vip.id }}"> Daha çox </a> </p>

                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="share_btn">
                        <i class="fa fa-share-alt"></i>
                        <div class="soc_btn">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fa fa-facebook"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-twitter"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-google-plus"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                </li>

                            </ul>
                        </div>
                    </div>


                </div>
                {% empty %}
                  <section id="feat_propty">
                  <div class="container">
                      <div class="row">
                            <h3>Axtarışınıza Uyğun bir nəticə tapılmadı</h3>
                          </div>
                      </div>
                      </section>

                {% endfor %}

            </div>
            <div class="row">
                <!-- Property 1 -->
                {% for article_vip in seen|slice:"3:6" %}
                <div class="col-md-4" style="margin-bottom: 30px;">
                    <div class="panel panel-default">
                        <div class="panel-image">
                            <img class="img-responsive img-hover" style="width: 370px;height: 240px;" src="../images/{{ article_vip.article_images.images }}" alt="">
                            <div class="img_hov_eff">
                                <a class="btn btn-default btn_trans" href="/detail/{{ article_vip.id }}"> Daha ətraflı </a>
                            </div>

                        </div>
                        <div class="sal_labl">
                            {% if article_vip.types == 1 %}Satılır{% else %}Icarəyə{% endif %}
                        </div>

                        <div class="panel-body">
                            <div class="prop_feat">
                                <p class="area"><i class="fa fa-home"></i>{% if article_vip.area == 1 %}Bakı şəhəri{% else %}Abşeron rayonu{% endif %}</p>
                                <p class="bedrom"><i class="fa fa-bed"></i> {{ article_vip.rooms }} otaqlı </p>
                                <p class="bedrom"><i class="fa fa-car"></i> {{ article_vip.garage }} garajı </p>
                            </div>
                            <h3 class="sec_titl">
                         {{ article_vip.header }}                 </h3>

                            <p class="sec_desc">
                                {{ article_vip.about|safe|slice:":72" }}...
                            </p>
                            <div class="panel_bottom">
                                <div class="col-md-6">
                                    <p class="price text-left"> {{ article_vip.prize }} AZN</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="readmore text-right"> <a href="/detail/{{ article_vip.id }}"> Daha çox </a> </p>

                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="share_btn">
                        <i class="fa fa-share-alt"></i>
                        <div class="soc_btn">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fa fa-facebook"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-twitter"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-google-plus"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                </li>

                            </ul>
                        </div>
                    </div>


                </div>


                {% endfor %}

            </div>
            <div class="row">
                <!-- Property 1 -->
                {% for article_vip in seen|slice:"6:9" %}
                <div class="col-md-4" style="margin-bottom: 30px;">
                    <div class="panel panel-default">
                        <div class="panel-image">
                            <img class="img-responsive img-hover" style="width: 370px;height: 240px;" src="../images/{{ article_vip.article_images.images }}" alt="">
                            <div class="img_hov_eff">
                                <a class="btn btn-default btn_trans" href="/detail/{{ article_vip.id }}"> Daha ətraflı </a>
                            </div>

                        </div>
                        <div class="sal_labl">
                            {% if article_vip.types == 1 %}Satılır{% else %}Icarəyə{% endif %}
                        </div>

                        <div class="panel-body">
                            <div class="prop_feat">
                                <p class="area"><i class="fa fa-home"></i>{% if article_vip.area == 1 %}Bakı şəhəri{% else %}Abşeron rayonu{% endif %}</p>
                                <p class="bedrom"><i class="fa fa-bed"></i> {{ article_vip.rooms }} otaqlı </p>
                                <p class="bedrom"><i class="fa fa-car"></i> {{ article_vip.garage }} garajı </p>
                            </div>
                            <h3 class="sec_titl">
                         {{ article_vip.header }}                 </h3>

                            <p class="sec_desc">
                                {{ article_vip.about|safe|slice:":72" }}...
                            </p>
                            <div class="panel_bottom">
                                <div class="col-md-6">
                                    <p class="price text-left"> {{ article_vip.prize }} AZN</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="readmore text-right"> <a href="/detail/{{ article_vip.id }}"> Daha çox </a> </p>

                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="share_btn">
                        <i class="fa fa-share-alt"></i>
                        <div class="soc_btn">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fa fa-facebook"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-twitter"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-google-plus"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                </li>

                            </ul>
                        </div>
                    </div>


                </div>


                {% endfor %}

            </div>
        </div>
    </section>




   {% endblock %}
