<!DOCTYPE html>
<html>
<head>
	<title>Axtarisss</title>
	<meta charset="utf-8">
</head>
{% block content %}
     <body>
     <form action="{% url 'new_elan' %}" method="GET" style="width: 300px; margin: auto;">


<input type="text" name="basliq" />
    <select name="erazi">
        <option value="1">baki</option>
        <option value="2">Absheron</option>
    </select>
    <select name="tipi">
      <option value="1">Satis</option>
      <option value="2">Kiraye</option>
    </select> 
    <input type="text" name="min_prize" placeholder="min qiymet">
     <input type="text" name="max_prize" placeholder="max qiymet">
    <button type="submit">search</button>
     
     </form>
{% for seens in seen %}

    <p> {{seens.header}}</p>
    <ul>
        <li>{{ seens.prize }}</li>
    </ul>
    <span style="color: red;">{{ seens.types }}</span>
    <span style="green: blue">{{ seens.area }}</span>

    {% empty %}

      <p> no search </p>
    {% endfor %}


 </body>

   {% endblock %}
</html>