{% extends "index.html" %}
{% block content %}

	<header class="bread_crumb">
        <div class="pag_titl_sec">
            <h1 class="pag_titl"> {{ user.first_name }} {{ user.last_name }} </h1>
            <h4 class="sub_titl">  </h4>
        </div>
        <div class="pg_links">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="lnk_pag"><a href="/"> Ana səhifə </a> </p>
                        <p class="lnk_pag"> / </p>
                        <p class="lnk_pag"> Bütün elanlar </p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p class="lnk_pag"><a href="/"> Ana səhifəyə qayıt </a> </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
	<div class="spacer-60"></div>
    <div class="container">
        <div class="row">

        	<!-- Agent Section -->
            <section id="agent_sec" class="col-md-8">
                <!-- Agent Info -->
                <div class="agen_info2">
                    <div class="col-md-5">
                        <img class="img-responsive img-hover" src="/static/images/default_user.png" alt="">

                    </div>
                    <div class="col-md-7">
                        <div class="panel panel-default">

                            <div class="panel-body">
                                <div class="row agen_desc">
                                    <div class="col-md-7">
                                        <h3 class="sec_titl">{{ user.first_name }} {{ user.last_name }}</h3>
                                        <p class="sec_desc">
                                            Istifadəçi haqqında
                                        </p>

                                    </div>
                                    <div class="col-md-5 p0">
                                        <div class="soc_icon">
                                            <a href="#"> <i class="fa fa-twitter"></i> </a>
                                            <a href="#"> <i class="fa fa-facebook"></i> </a>
                                            <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                        </div>

                                    </div>
                                </div>
                                <p class="sec_desc">
                                    </p>
                                <div class="panel_bottom">
                                    <div class="agen_feat">
                                        <p class="area">
                                            <a href="tel:910-213-7890"> <i class="fa fa-phone"></i>{{ user_name.phone }}</a>
                                        </p>
                                        <p class="bedrom">
                                            <a href="mailto:scott@berends.com?Subject=Agent%20enquiry"> <i class="fa fa-envelope"></i> {{ user_name.user }} </a>
                                        </p>

                                    </div>



                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="spacer-30"></div>

                <!-- Property Listing -->
                <div class="row prlist_sec">
                    <div class="titl_sec">
                        <div class="col-lg-12">

                            <h3 class="main_titl text-left">
                                Mənim elanlarim
                            </h3>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Property List 1 -->
                    {% for article in user_info|slice:":2" %}
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-image">
                                <img class="img-responsive img-hover" style="width: 370px;height: 240px;" src="/images/{{ article.article_images.images }}" alt="#">
                                <div class="img_hov_eff">
                                    <a class="btn btn-default btn_trans" href="/detail/{{ article.id }}/{{ article.header|cut:" " }}/"> Daha traflı </a>
                                    <a class="btn btn-default btn_trans" href="#">Elani sil</a>
                                </div>

                            </div>
                            <div class="sal_labl">
                                {% if article.types == 1 %}Satılır{% else %}Icarəyə{% endif %}
                            </div>

                            <div class="panel-body">
                                <div class="prop_feat">
                                    <p class="area"><i class="fa fa-home"></i>{% if article.area == 1 %}Bakı şəhəri{% else %}Abşeron rayonu{% endif %}</p>
                                    <p class="bedrom"><i class="fa fa-bed"></i> {{ article.rooms }} otaqlı</p>
                                    <p class="bedrom"><i class="fa fa-car"></i> {{ article.garage }} garajı</p>
                                </div>
                                <h3 class="sec_titl"> {{ article.header }}</h3>

                                <p class="sec_desc">
                                    {{ article.about|safe|slice:":72" }}...
                                </p>
                                <div class="panel_bottom">
                                    <div class="col-md-6">
                                        <p class="price text-left">{{ article.prize }} AZN</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="readmore text-right"> <a href="/detail/{{ article.id }}/{{ article.header|cut:" " }}/"> Daha çox </a> </p>
                                        <div class="share_btn">
                                            <i class="fa fa-share-alt"></i>
                                                <div class="soc_btn">
                                                    <ul>
                                                        <li>
                                                            <a href="#"> <i class="fa fa-facebook"></i> </a>
                                                        </li>
                                                        <li>
                                                            <a href="#"> <i class="fa fa-twitter"></i> </a>
                                                        </li>
                                                        <li>
                                                            <a href="#"> <i class="fa fa-google-plus"></i> </a>
                                                        </li>
                                                        <li>
                                                            <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                                        </li>

                                                    </ul>
                                                </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="spacer-30"></div>
                    <!-- Property List 1 -->
                    {% for article in user_info|slice:"2:4" %}
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-image">
                                <img class="img-responsive img-hover" style="width: 370px;height: 240px;" src="/images/{{ article.article_images.images }}" alt="#">
                                <div class="img_hov_eff">
                                    <a class="btn btn-default btn_trans" href="/detail/{{ article.id }}/{{ article.header|cut:" " }}/"> Daha traflı </a>
                                </div>

                            </div>
                            <div class="sal_labl">
                                {% if article.types == 1 %}Satılır{% else %}Icarəyə{% endif %}
                            </div>

                            <div class="panel-body">
                                <div class="prop_feat">
                                    <p class="area"><i class="fa fa-home"></i>{% if article.area == 1 %}Bakı şəhəri{% else %}Abşeron rayonu{% endif %}</p>
                                    <p class="bedrom"><i class="fa fa-bed"></i> {{ article.rooms }} otaqlı</p>
                                    <p class="bedrom"><i class="fa fa-car"></i> {{ article.garage }} garajı</p>
                                </div>
                                <h3 class="sec_titl"> {{ article.header }}</h3>

                                <p class="sec_desc">
                                    {{ article.about|safe|slice:":72" }}...
                                </p>
                                <div class="panel_bottom">
                                    <div class="col-md-6">
                                        <p class="price text-left">{{ article.prize }} AZN</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="readmore text-right"> <a href="/detail/{{ article.id }}/{{ article.header|cut:" " }}/"> Daha çox </a> </p>
                                        <div class="share_btn">
                                            <i class="fa fa-share-alt"></i>
                                                <div class="soc_btn">
                                                    <ul>
                                                        <li>
                                                            <a href="#"> <i class="fa fa-facebook"></i> </a>
                                                        </li>
                                                        <li>
                                                            <a href="#"> <i class="fa fa-twitter"></i> </a>
                                                        </li>
                                                        <li>
                                                            <a href="#"> <i class="fa fa-google-plus"></i> </a>
                                                        </li>
                                                        <li>
                                                            <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                                        </li>

                                                    </ul>
                                                </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="spacer-30"></div>
                    {% for article in user_info|slice:"4:6" %}
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-image">
                                <img class="img-responsive img-hover" style="width: 370px;height: 240px;" src="/images/{{ article.article_images.images }}" alt="#">
                                <div class="img_hov_eff">
                                    <a class="btn btn-default btn_trans" href="/detail/{{ article.id }}/{{ article.header|cut:" " }}/"> Daha traflı </a>
                                    <a class="btn btn-default btn_trans" href="#">Elani sil</a>
                                </div>

                            </div>
                            <div class="sal_labl">
                                {% if article.types == 1 %}Satılır{% else %}Icarəyə{% endif %}
                            </div>

                            <div class="panel-body">
                                <div class="prop_feat">
                                    <p class="area"><i class="fa fa-home"></i>{% if article.area == 1 %}Bakı şəhəri{% else %}Abşeron rayonu{% endif %}</p>
                                    <p class="bedrom"><i class="fa fa-bed"></i> {{ article.rooms }} otaqlı</p>
                                    <p class="bedrom"><i class="fa fa-car"></i> {{ article.garage }} garajı</p>
                                </div>
                                <h3 class="sec_titl"> {{ article.header }}</h3>

                                <p class="sec_desc">
                                    {{ article.about|safe|slice:":72" }}...
                                </p>
                                <div class="panel_bottom">
                                    <div class="col-md-6">
                                        <p class="price text-left">{{ article.prize }} AZN</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="readmore text-right"> <a href="/detail/{{ article.id }}/{{ article.header|cut:" " }}/"> Daha çox </a> </p>
                                        <div class="share_btn">
                                            <i class="fa fa-share-alt"></i>
                                                <div class="soc_btn">
                                                    <ul>
                                                        <li>
                                                            <a href="#"> <i class="fa fa-facebook"></i> </a>
                                                        </li>
                                                        <li>
                                                            <a href="#"> <i class="fa fa-twitter"></i> </a>
                                                        </li>
                                                        <li>
                                                            <a href="#"> <i class="fa fa-google-plus"></i> </a>
                                                        </li>
                                                        <li>
                                                            <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                                        </li>

                                                    </ul>
                                                </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="spacer-30"></div>
                </div>
                <!-- /.row -->


            </section>
            <section id="sidebar" class="col-md-4">
                <!-- Search Form -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="srch_frm">
                        <h3>Axtarış sistemi</h3>
                        <form name="sentMessage"action="{% url 'search' %}" method="GET">
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Başlıq </label>
                                    <input type="text" class="form-control" id="keyword" name="basliq" placeholder="axtar..">
                                    <p class="help-block"></p>
                                </div>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label>Ərazi </label>
                                    <select class="form-control" name="erazi">
                                        <option value="1" selected="selected">Ərazi daxil edin</option>
                                        <option value="1">Bakı</option>
                                        <option value="2">Abşeron</option>

                                    </select>
                                </div>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls col-md-6 first">
                                    <label>Elanın növü </label>
                                    <select class="form-control" name="mirta">
                                        <option value="1" selected="selected">Ev alqı satqısı</option>
                                        <option value="2">Ev</option>
                                        <option value="3">Mənzil</option>
                                    </select>
                                </div>
                                <div class="controls col-md-6">
                                    <label>Elanın tipi </label>
                                    <select class="form-control" name="tipi">
                                        <option value="1" selected="selected">Satış</option>
                                        <option value="2">İcarəyə</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="control-group form-group">
                                <div class="controls col-md-6 first">
                                    <label>Minimum qiyməti </label>
                                    <input type="text" name="min_prize" class="form-control" placeholder="min qiymət">
                                </div>
                                <div class="controls col-md-6">
                                    <label>Maxsimum qiyməti </label>
                                    <input type="text" name="max_prize" class="form-control" placeholder="max qiymət">
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div id="success"></div>
                            <!-- For success/fail messages -->
                            <button type="submit" name="search" class="btn btn-primary">Axtar</button>
                        </form>
                    </div>
                    </div>
                </div>
                <div class="spacer-30"></div>
                <!-- Featured Properties -->
                <div class="row">
                    <div class="titl_sec">
                        <div class="col-lg-12">

                            <h3 class="main_titl text-left">
                                Vip məqalələr
                            </h3>

                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="side_feat">
                        {% for article in vip_article|slice:":3" %}
                        <div class="panel panel-default">
                            <div class="panel-image col-md-3">
                                <a href="/detail/{{ article.id }}/{{ article.header|cut:" " }}/"> <img class="img-responsive img-hover" src="/images/{{ article.article_images.images }}" alt=""> </a>
                            </div>

                            <div class="panel-body col-md-9">
                                <h3 class="sec_titl">
                                    <a href="/detail/{{ article.id }}/{{ article.header|cut:" " }}/"> {{ article.header }} </a>
                                </h3>

                                <div class="prop_feat">
                                    <p class="area"><i class="fa fa-home"></i>{% if article.area == 1 %}Bakı şəhəri{% else %}Abşeron rayonu{% endif %}</p>
                                    <p class="bedrom"><i class="fa fa-bed"></i> {{ article.rooms }} otaqlı </p>

                                </div>

                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                <!-- /.row -->
            </section>
        <div class="spacer-60"></div>
        </div>
    </div>

{% endblock %}
