{% extends "index.html" %}
{% block content %}

<header class="bread_crumb">
        <div class="pag_titl_sec">
            <h1 class="pag_titl"> Vip Elanlar </h1>
            <h4 class="sub_titl"> </h4>
        </div>
        <div class="pg_links">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="lnk_pag"><a href="/"> Ana səhifə </a> </p>
                        <p class="lnk_pag"> / </p>
                        <p class="lnk_pag"> Vip Elan </p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p class="lnk_pag"><a href="/"> Ana səhifəyə qayıt </a> </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="spacer-60"></div>
    <section id="feat_propty">
        <div class="container">
            <div class="row">
                <!-- Property 1 -->
                {% for article_vip in detail_vip|slice:":3" %}
                <div class="col-md-4" style="margin-bottom: 30px;">
                    <div class="panel panel-default">
                        <div class="panel-image">
                            <img class="img-responsive img-hover" style="width: 370px;height: 240px;" src="../images/{{ article_vip.article_images.images }}" alt="">
                            <div class="img_hov_eff">
                                <a class="btn btn-default btn_trans" href="/detail/{{ article_vip.id }}/{{ article_vip.header.split|join:"_" }}/"> Daha ətraflı </a>
                            </div>

                        </div>
                        <div class="sal_labl">
                            {% if article_vip.types == 1 %}Satılır{% else %}Icarəyə{% endif %}
                        </div>

                        <div class="panel-body">
                            <div class="prop_feat">
                                <p class="area"><i class="fa fa-home"></i>{% if article_vip.area == 1 %}Bakı şəhəri{% else %}Abşeron rayonu{% endif %}</p>
                                <p class="bedrom"><i class="fa fa-bed"></i> {{ article_vip.rooms }} otaqlı </p>
                                <p class="bedrom"><i class="fa fa-car"></i> {{ article_vip.garage }} garajı </p>
                            </div>
                            <h3 class="sec_titl">
                         {{ article_vip.header }}                 </h3>

                            <p class="sec_desc">
                                {{ article_vip.about|safe|slice:":72" }}...
                            </p>
                            <div class="panel_bottom">
                                <div class="col-md-6">
                                    <p class="price text-left"> {{ article_vip.prize }} AZN</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="readmore text-right"> <a href="/detail/{{ article_vip.id }}/{{ article_vip.header.split|join:"_" }}/"> Daha çox </a> </p>

                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="share_btn">
                        <i class="fa fa-share-alt"></i>
                        <div class="soc_btn">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fa fa-facebook"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-twitter"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-google-plus"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                </li>

                            </ul>
                        </div>
                    </div>


                </div>
                {% endfor %}
                {% for article_vip in detail_vip|slice:"3:6" %}
                <div class="col-md-4" style="margin-bottom: 30px;">
                    <div class="panel panel-default">
                        <div class="panel-image">
                            <img class="img-responsive img-hover" style="width: 370px;height: 240px;" src="../images/{{ article_vip.article_images.images }}" alt="">
                            <div class="img_hov_eff">
                                <a class="btn btn-default btn_trans" href="/detail/{{ article_vip.id }}/{{ article_vip.header.split|join:"_" }}/"> Daha ətraflı </a>
                            </div>

                        </div>
                        <div class="sal_labl">
                            {% if article_vip.types == 1 %}Satılır{% else %}Icarəyə{% endif %}
                        </div>

                        <div class="panel-body">
                            <div class="prop_feat">
                                <p class="area"><i class="fa fa-home"></i>{% if article_vip.area == 1 %}Bakı şəhəri{% else %}Abşeron rayonu{% endif %}</p>
                                <p class="bedrom"><i class="fa fa-bed"></i> {{ article_vip.rooms }} otaqlı </p>
                                <p class="bedrom"><i class="fa fa-car"></i> {{ article_vip.garage }} garajı </p>
                            </div>
                            <h3 class="sec_titl">
                         {{ article_vip.header }}                 </h3>

                            <p class="sec_desc">
                                {{ article_vip.about|safe|slice:":72" }}...
                            </p>
                            <div class="panel_bottom">
                                <div class="col-md-6">
                                    <p class="price text-left"> {{ article_vip.prize }} AZN</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="readmore text-right"> <a href="/detail/{{ article_vip.id }}/{{ article_vip.header.split|join:"_" }}/"> Daha çox </a> </p>

                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="share_btn">
                        <i class="fa fa-share-alt"></i>
                        <div class="soc_btn">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fa fa-facebook"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-twitter"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-google-plus"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                </li>

                            </ul>
                        </div>
                    </div>


                </div>
                {% endfor %}
            </div>
        </div>
    </section>




{% endblock %}
